doctype html
html(lang="en",ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(href="https://fonts.googleapis.com/css?family=Share+Tech+Mono",rel="stylesheet")
    link(href="/main.css",rel="stylesheet")
    //script(src="/angular.min.js")
    script(src="/lodash.custom.min.js")
    script(src="/socket.io.min.js")
    title keyhole.chat
  body
    header(ng-controller="navctrl")
    div#me
    div#visitor
    button Press [space] to speak
    input#thresh(type="range",min="0",max="255")
    script(src="/main.js")