* {
padding: 0;
margin: 0;
font-family: 'Share Tech Mono', monospace;
overflow:hidden;
}

body {

}


canvas {
  image-rendering: pixelated;
}

#me,#visitor{
  position:fixed;
  display:flex;
  width: 100vw;
  height: 50vh;
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position:center;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAwCAMAAACWlYwtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAQElEQVR42mJgpBAwjBowasCoAaMG0McABiKVDGIDRqORgSRFWCUZECSZXmBgYGAYzY2jBowaMGrAqAHEAoAAAwDO6AvxvZpqewAAAABJRU5ErkJggg==');
}

#visitor {
  background-color: #fba000;
  top: 0;
  left: 0;
}

#me{
  top: 50vh;
  left:0;
  background-color: #2344ff;
}

p {
  color: white;
  text-align: center;
  hyphens: auto;
  width: 100vw;
  padding: 10vh;
  text-transform: uppercase;
}


button {
  display:block;
  height: 20vmin;
  width: 20vmin;
  background-color: #2dd755;
  position: fixed;
  left: 5vmin;
  bottom: 5vmin;
  border: 0;
  color: white;
  outline: 0;
  border-radius: 10vmin;
  text-transform:uppercase;
  background-image: url('/images/mic_open.svg');
  background-size: 16vmin;
  background-position: center;
  background-repeat: no-repeat;
}

.held {
  background-image: url('/images/mic_closed.svg');
  background-color: #a120b8;
}

@media (orientation : landscape) {
  #me, #visitor{
    position:fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
  }

  #me {
    left: 50vw;
    top: 0;
  }
  p {
    width: 50vw;
  }
}

//https://github.com/darlanrod/input-range-scss/blob/master/_inputrange.scss


$track-color: white !default;
$thumb-color: black !default;
$track-width: 100vw !default;
$track-height: 5vw !default;

[type=range] {
  -webkit-appearance: none;
  width: $track-width;
  position:absolute;
  top: 0;
  left: 0;
  opacity: .5;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: $track-width;
    height: $track-height;
    cursor: pointer;
    transition: all .2s ease;
    background: $track-color;
    border-style: none;
  }

  &::-webkit-slider-thumb {
    border-style: none;
    height: $track-height;
    width: $track-height;
    background: $thumb-color;
    cursor: pointer;
    -webkit-appearance: none;
  }

}